/* Asterisk Wildcald selector, to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main Content */

body {
    font-family: 'Rubik', sans-serif;
    background: rgba(0, 0, 0, .5) url("../images/florian-olivo-4hbJ-eymZ1o-unsplash_200.jpg") no-repeat center center/cover;
    background-blend-mode: darken;
    height: 100vh;
}

/* Class to center the text and white font */
.text-align {
    text-align: center;
    color: #fff;
}

.fa-css3 {
    margin: 0 30px;
}

#main-area {
    max-width: 700px;
    margin: auto;
    padding: 15px 10px; 
}

.quiz-name {
    margin-top: 50px;
}

.quiz-name h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    padding-top: 20px;
}

#main-area p {
    font-size: 1.5rem;
    padding-bottom: 15px; 
}

.player-name-label {
    font-size: 2rem;
}

#player-name {
    font-size: 2rem;
    border-radius: 20px;
    margin-top: 15px;
    padding-left: 15px;
    color: #000;
}

#start-quiz {
    font-size: 2rem;
    width: 150px;
    border-radius: 10px;
    margin-top: 15px;
}

.btn-color:hover:enabled {
    cursor: pointer;
    background-color: #c9f725;
    transition: 0.6s;
}

/* Quiz Area */
#quiz-area {
    font-size: 1.5rem;
    max-width: 700px;
    margin: 20px auto auto auto;
}

#player-score {
    margin-bottom: 20px;
}

#question-answer-area {
    text-align: center;
    
}

#question-answer-area p {
    margin: auto;
}

.btn {
    font-size: 1rem;
    width: 400px;
    margin-top: 15px;
    border-radius: 10px;
    height: 40px;
}

.question-field {
    background-color: #fff;
    color: #000;
    margin-bottom: 20px;
    width: 400px;
    border-radius: 10px;
    height: 80px;
    padding: 10px;
    font-size: 1rem;
    border: solid 3px #3a3a3a;
}

#next-question {
    height: 50px;
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
    font-size: 1rem;
}

#next-question:hover {
    cursor: pointer;
    background-color: #c9f725;
    transition: 0.6s;
}

/* Coloring the correct/wrong answer button */
.correct {
    background-color: rgb(127, 255, 195);
}
.correct:disabled,
.wrong:disabled {
    color: #000;
}

.wrong {
    background-color: #f1266ae5;
}


/* Coloring the score status */
#score {
    color: rgb(127, 255, 195);
}

#wrong-score {
    color: #f1266ae5;
}

#count-down-p {
    font-size: 3rem;
}

/* Score Area */
#score-area {
    font-size: 2rem;
    max-width: 700px;
    margin: auto;
}

#score-area p {
    margin: 20px 20px;
}

#correct-answers-score {
    color: rgb(127, 255, 195);
}

/* Style for PLay Again and New PLayer buttons */
#play-again,
#new-player {
    width: 100px;
    height: 50px;
    margin: 30px 10px 10px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

#play-again:hover,
#new-player:hover {
    cursor: pointer;
    background-color: #c9f725;
    transition: 0.6s;
}


/* For screens up to 420px width */
@media screen and (max-width: 420px) {
    /* Ajust size of the input field */
    #player-name {
        width: 240px;
        font-size: 1.5rem;
    }
}